/*
 * This stylesheet is ment to be used in combination with
 * the Buttondown stylesheep. See base.css
 * /


/* Import base stylesheet */
@import "base.css";

/* Import our external fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* we cannot exclude the protocol, otherwise PDF generation will fail */

/* Company Logos */
.logo {
    float: right;
    margin-right: 45px;
    margin-bottom: 10px;
}

/* Mugshot top right */
img#mugshot {
    float: right;
    border: 1px solid;
    border-radius: 8%;
    margin: 45px 25px;
}

/* Default html markup */
html {
    background-color: gray;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 1000px;
    background-color: white;
    margin: 20px auto;
    padding: 5px 15px;
}

table {
    width: 450px;
    margin-left: unset;
}

/* Paragraph formatting */
dt {
    margin-bottom: 10px;
}

p {
    margin-right: 100px;
}

/* Set header font */
h1, h2, h3 {
    font-family: "PT Sans", sans-serif;
}

/* Adjust title size */
h1 {
    font-size: 3em;
}

/* Format for different media */
@media screen {
    body {
        border-radius: 4px;
        border: 1px solid;
    }

    img#mugshot {
        box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

@media print {
    html {
        background-color: white;
    }

    body {
        width: auto;
    }

    table {
        width: 650px;
    }
}
